<div class="container" style="margin-top: 2%">
<img src="../assets/images/Logo-SUSL.png" style="height: 100px; width:  100px;" class="center">
  <h2 style="text-align: center; margin-bottom: 20px">CIS DEPARTMENT</h2>
  <div class="row">
    <!--{{ message | async | json }}-->
    <button type="button" class="btn " routerLink="notice"  style="width: 100%;">Notice Board</button>
    <button type="button" class="btn " routerLink="timeTable" style="width: 100%;">Time Table</button>
    <button type="button" class="btn " routerLink="report" style="width: 100%;">Lecture Report</button>
  </div>
  <router-outlet></router-outlet>
</div>




