.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.card {
  width: 400px;
  margin: 10% auto;
}
.mat-card-title{
  font-size: 16px;
}
.alert.alert-warning {

  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4);
  margin-left: 60%;
  text-align: center;

}
