<div class="row">
  <div class="col-md-3">
    <button mat-raised-button (click)="selectSemester(1)"
            class="btn btn-danger pull-right">Year 1</button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button (click)="selectSemester(2)"
            class="btn btn-danger pull-right">Year  2</button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button (click)="selectSemester(3)"
            class="btn btn-danger pull-right">Year  2</button>
  </div>
  <div class="col-md-3">
    <button mat-raised-button (click)="selectSemester(4)"
            class="btn btn-danger pull-right">Year  3</button>
  </div>
</div>

<div class="row">
    <router-outlet></router-outlet>
</div>
